PORT=3000
MONGO_URI=YOUR_MONGODB_URI_HERE
JWT_SECRET=YOUR_JWT_SECRET_HERE
AI_API_BASE_URL=http://localhost:8000
AI_API_PREFIX=/api/v1
AI_WS_BASE_URL=ws://localhost:8000
AI_WS_PREFIX=/ws
AI_FEEDBACK_POLL_ATTEMPTS=YOUR_POLL_ATTEMPT_COUNT_HERE
AI_FEEDBACK_POLL_INTERVAL_MS=YOUR_POLL_INTERVAL_MS_HERE
EMAIL_HOST=YOUR_EMAIL_HOST_HERE
EMAIL_USER=YOUR_EMAIL_USER_HERE
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD_HERE
