* text=auto

*.cs text eol=crlf
*.cshtml text eol=crlf
*.sln text eol=crlf
*.py text eol=lf
*.java text eol=lf
*.jsp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.drawio text eol=lf
*.simp text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
